/* --- CÀI ĐẶT CHUNG & FONT --- */
html {
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #333; 
    text-align: center;
/*     background-image: url('../images/background-desktop.jpg'); /* ../ để đi ra khỏi thư mục css */ */
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: #DDDDDD;
    box-sizing: border-box;
}

/* Tối ưu cho di động */
@media (max-width: 768px) {
    body {
        background-image: url('../images/background-mobile.jpg');
        background-attachment: scroll; 
    }
}
